<mat-toolbar color="primary">
    <span>Novo Contato</span>
</mat-toolbar>

<div class="form">
    <mat-form-field appearance="standard">
        <mat-label>Nome</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Telefone</mat-label>
        <input matInput />
    </mat-form-field>

    <div class="actions">
        <button mat-raised-button>Voltar para a lista</button>
        <button type="submit" mat-raised-button color="primary">Criar</button>
    </div>
</div>
